{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}
<h1 class="mb-3">
    {{ user.firstnameUser }} {{ user.nameUser }}
</h1>

<ul class="list-group mb-4">
    <li class="list-group-item">
        <strong>Email :</strong> {{ user.emailUser }}
    </li>
    <li class="list-group-item">
        <strong>Compte créé le :</strong>
        {{ user.createdAt|date('d/m/Y H:i') }}
    </li>
</ul>

<a href="{{ path('members_list') }}" class="btn btn-primary">
    Retour à la liste
</a>
{% endblock %}
